<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="#{title.add.author}">Add Author</title>
</head>
<style>
    form {
        width: 100%;
    }
</style>
<body>
<nav th:insert="navbar :: usernavbar"></nav>

<div th:insert="sidebar :: sidebaradmin"></div>
<main class="content">
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div th:text="#{add.author.new}" class="card-header">Add Author</div>
                    <div class="card-body">
                        <form name="my-form" action="/admin/addbook" th:action="@{/admin/addauthor}"
                              th:object="${author}"
                              method="post">
                            <div class="form-group">
                                <label th:text="#{add.author.name.ukr}" for="name2">Author name Ukrainian</label>
                                <div>
                                    <input th:field="*{nameUkr}" type="text" id="name2" class="form-control"
                                           name="name">
                                    <span class="text-danger" th:if="${#fields.hasErrors('nameUkr')}"
                                          th:errors="*{nameUkr}"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label th:text="#{add.author.name.eng}" for="name">Author name English</label>
                                <div>
                                    <input th:field="*{nameEng}" type="text" id="name" class="form-control" name="name">
                                    <span class="text-danger" th:if="${#fields.hasErrors('nameEng')}"
                                          th:errors="*{nameEng}"></span>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button th:text="#{add.add}" type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>