<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title th:text="#{title.all.books}">All books</title>
</head>

<body>
<nav th:insert="navbar :: usernavbar"></nav>

<div th:insert="sidebar :: sidebaradmin"></div>
<main class="content">
    <br>
    <div class="container">
        <div th:switch="${books.empty}">
            <div th:case="true">
                <div th:text="#{list.empty}" class="alert alert-dark" role="alert"></div>
            </div>
            <div th:case="false">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th th:text="#{show.book.name}">Book Name</th>
                        <th th:text="#{show.book.author}">Author</th>
                        <th th:text="#{show.book.genres}">Genres</th>
                        <th th:text="#{show.book.actions}">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book: ${books}">
                        <td th:text="${book.name}"></td>
                        <td th:text="${book.authorName}"></td>
                        <td>
                            <th:block th:each="genre, i: ${book.genres}">
                                <span th:text="#{${'genre.' + genre}} + (${i.size-1 > i.index}? ',':'')"></span>
                            </th:block>
                        </td>
                        <td class="button-form">
                            <form th:action="@{/admin/book/{id}(id=${book.id})}" method="get">
                                <button type="submit" class="btn btn-info btn-small">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </button>
                            </form>
                            <form th:if="${book.available}" th:action="@{/admin/edit/{id}(id=${book.id})}"
                                  method="get">
                                <button type="submit" class="btn btn-secondary btn-small"
                                        th:value="#{edit.editbook}">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                            </form>
                            <form th:if="${book.available}" th:action="@{/admin/delete/{id}(id=${book.id})}"
                                  method="post">
                                <button type="submit" class="btn btn-danger btn-small">
                                    <i class="fa fa-times"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <nav th:if="${books.totalPages > 1}">
                    <ul class="pagination justify-content-center">
                        <li th:if="${books.hasPrevious()}" class="page-item">
                            <a th:href="@{/admin/allbooks(page=${books.number-1})}" class="page-link">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <th:block th:each="i: ${#numbers.sequence(0, books.totalPages - 1)}">
                            <li th:if="${books.number == i}" class="page-item active"><span
                                    class="page-link">[[${i}+1]]</span></li>
                            <li th:unless="${books.number == i}" class="page-item">
                                <a th:href="@{/admin/allbooks(page=${i})}" class="page-link">[[${i}+1]]</a>
                            </li>
                        </th:block>

                        <li th:if="${books.hasNext()}" class="page-item">
                            <a th:href="@{/admin/allbooks(page=${books.number+1})}" class="page-link">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>