<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="#{title.edit.book}">Edit</title>
</head>
<style>
    form{
        width: 100%;
    }
</style>
<body>
<nav th:insert="navbar :: usernavbar"></nav>
<div th:insert="sidebar :: sidebaradmin"></div>

<main class="content">
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div th:text="#{edit.editbook}" class="card-header">Add Book</div>
                    <div class="card-body">
                        <form name="my-form" action="/admin/addbook" th:action="@{/admin/edit/{id}(id=${book.id})}" th:object="${book}"
                              method="post">
                            <div class="form-group">
                                <label th:text="#{add.book.name}" for="name">Book name Ukrainian</label>
                                <div>
                                    <input th:field="*{nameUkr}" type="text" id="name2" class="form-control"
                                           name="name">
                                    <span class="text-danger" th:if="${#fields.hasErrors('nameUkr')}"
                                          th:errors="*{nameUkr}"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label th:text="#{add.book.name.eng}" for="name">Book name English</label>
                                <div>
                                    <input th:field="*{nameEng}" type="text" id="name" class="form-control" name="name">
                                    <span class="text-danger" th:if="${#fields.hasErrors('nameEng')}"
                                          th:errors="*{nameEng}"></span>
                                </div>
                            </div>

                            <div th:switch="__${#locale.language}__">
                                <div th:case="uk">
                                    <div class="form-group">
                                        <label th:text="#{add.book.author}">Book author</label>
                                        <select class="form-control" th:field="*{authorId}">
                                            <option th:each="value : ${authors}"
                                                    th:value="${value.id}"
                                                    th:text="${value.nameUkr}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div th:case="en">
                                    <div class="form-group">
                                        <label th:text="#{add.book.author}">Book author</label>
                                        <select class="form-control" th:field="*{authorId}">
                                            <option th:each="value : ${authors}"
                                                    th:value="${value.id}"
                                                    th:text="${value.nameEng}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <fieldset class="form-group">
                                <div class="row">
                                    <div th:text="#{add.book.genre}" class="col-form-label col-sm-2 pt-0">Genres</div>
                                    <div class="col-sm-10">
                                        <div class="form-check"
                                             th:each="value : ${T(com.training.entity.Genre).values()}">
                                            <th:block>
                                                <input class="form-check-input" type="checkbox" id="check1"
                                                       th:field="*{genres}" th:value="${value}"/>
                                                <label th:text="#{${'genre.' + value}}" class="form-check-label"
                                                       for="check1">
                                                    Genres
                                                </label>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                                <span class="text-danger" th:if="${#fields.hasErrors('genres')}"
                                      th:errors="*{genres}"></span>
                            </fieldset>
                            <div class="col-md-6 offset-md-4">
                                <button th:text="#{button.save}" type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
</body>

</html>

