<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.Cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title th:text="#{title.requests}">Requests</title>
</head>

<body>
<nav th:insert="navbar :: usernavbar"></nav>

<div th:insert="sidebar :: sidebaradmin"></div>

<main class="content">
    <br>
    <div class="container">

        <div th:switch="${empty}">
            <div th:case="true">
                <div th:text="#{list.empty}" class="alert alert-dark" role="alert"></div>
            </div>
            <div th:case="false">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th th:text="#{show.user.name}">User</th>
                        <th th:text="#{show.book.name}">Book Name</th>
                        <th th:text="#{show.book.author}">Author</th>
                        <th th:text="#{req.date}">Request Date</th>
                        <th th:text="#{req.status}">Status</th>
                        <th th:text="#{show.book.actions}">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:switch="__${#locale.language}__">
                        <div th:case="uk">
                            <tr th:each="req: ${requests}">
                                <td th:text="${req.userEmail}"></td>
                                <td th:text="${req.nameUkr}"></td>
                                <td th:text="${req.authorNameUkr}"></td>
                                <td th:text="${req.requestDate}"></td>
                                <td>
                                    <th:block th:switch="${req.approved}">
                                        <div th:case="null"><span class="text-info" th:text="#{req.status.new}"></span>
                                        </div>
                                        <div th:case="true"><span class="text-success"
                                                                  th:text="#{req.status.accepted}"></span>
                                        </div>
                                        <div th:case="false"><span class="text-danger"
                                                                   th:text="#{req.status.declined}"></span>
                                        </div>
                                    </th:block>
                                </td>
                                <td>
                                    <th:block th:switch="${req.approved}">
                                        <div th:case="null" class="button-form">
                                            <form th:action="@{/admin/approve/{id}(id=${req.id})}" th:object="${action}"
                                                  method="post">
                                                <input type="hidden" name="action" th:id="action" th:value="true">
                                                <button type="submit" class="btn btn-success btn-small">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            </form>

                                            <form th:action="@{/admin/approve/{id}(id=${req.id})}" th:object="${action}"
                                                  method="post">
                                                <input type="hidden" name="action" th:id="action" th:value="false">
                                                <button type="submit" class="btn btn-danger btn-small">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div th:case="true">
                                            <span class="text-muted" th:text="#{req.action.no}"></span>
                                        </div>
                                        <div th:case="false">
                                            <span class="text-muted" th:text="#{req.action.no}"></span>
                                        </div>
                                    </th:block>

                                </td>
                            </tr>
                        </div>
                        <div th:case="en">
                            <tr th:each="req: ${requests}">
                                <td th:text="${req.userEmail}"></td>
                                <td th:text="${req.nameEng}"></td>
                                <td th:text="${req.authorNameEng}"></td>
                                <td th:text="${req.requestDate}"></td>
                                <td>
                                    <th:block th:switch="${req.approved}">
                                        <div th:case="null"><span class="text-info" th:text="#{req.status.new}"></span>
                                        </div>
                                        <div th:case="true"><span class="text-success"
                                                                  th:text="#{req.status.accepted}"></span>
                                        </div>
                                        <div th:case="false"><span class="text-danger"
                                                                   th:text="#{req.status.declined}"></span>
                                        </div>
                                    </th:block>
                                </td>
                                <td>
                                    <th:block th:switch="${req.approved}">
                                        <div th:case="null" class="button-form">
                                            <form th:action="@{/admin/approve/{id}(id=${req.id})}" th:object="${action}"
                                                  method="post">
                                                <input type="hidden" name="action" th:id="action" th:value="true">
                                                <button type="submit" class="btn btn-success btn-small">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            </form>

                                            <form th:action="@{/admin/approve/{id}(id=${req.id})}" th:object="${action}"
                                                  method="post">
                                                <input type="hidden" name="action" th:id="action" th:value="false">
                                                <button type="submit" class="btn btn-danger btn-small">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div th:case="true">
                                            <span class="text-muted" th:text="#{req.action.no}"></span>
                                        </div>
                                        <div th:case="false">
                                            <span class="text-muted" th:text="#{req.action.no}"></span>
                                        </div>
                                    </th:block>

                                </td>
                            </tr>
                        </div>
                    </div>
                    </tbody>
                </table>

                <nav th:if="${requests.totalPages > 1}">
                    <ul class="pagination justify-content-center">
                        <li th:each="pageNumber : ${pageNumbers}"
                            th:classappend="${pageNumber==requests.number + 1} ? active"
                            class="page-item">
                            <a th:href="@{/admin/requests(page=${pageNumber})}" th:text="${pageNumber}"
                               class="page-link"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
</body>

</html>