<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.Cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title th:text="#{title.stats}">Stats</title>
</head>

<body>
<nav th:insert="navbar :: usernavbar"></nav>

<div th:insert="sidebar :: sidebaradmin"></div>
<main class="content">
    <br>
    <div class="container">
        <div th:switch="${stats.empty}">
            <div th:case="true">
                <div th:text="#{list.empty}" class="alert alert-dark" role="alert"></div>
            </div>
            <div th:case="false">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th th:text="#{stat.book.name}">Book Name</th>
                        <th th:text="#{stat.book.author}">Author</th>
                        <th th:text="#{stat.book.user}">Username</th>
                        <th th:text="#{stat.date.take}">Take Date</th>
                        <th th:text="#{stat.date.return}">Return Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="stat: ${stats}">
                        <td th:text="${stat.name}"></td>
                        <td th:text="${stat.authorName}"></td>
                        <td th:text="${stat.reader}"></td>
                        <td th:text="${stat.takeDate}"></td>
                        <td th:text="${stat.returnDate}"></td>
                    </tr>
                    </tbody>
                </table>
                <nav th:if="${stats.totalPages > 1}">
                    <ul class="pagination justify-content-center">
                        <li th:if="${stats.hasPrevious()}" class="page-item">
                            <a th:href="@{/admin/stats(page=${stats.number-1})}" class="page-link">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <th:block th:each="i: ${#numbers.sequence(0, stats.totalPages - 1)}">
                            <li th:if="${stats.number == i}" class="page-item active"><span
                                    class="page-link">[[${i}+1]]</span></li>
                            <li th:unless="${stats.number == i}" class="page-item">
                                <a th:href="@{/admin/stats(page=${i})}" class="page-link">[[${i}+1]]</a>
                            </li>
                        </th:block>

                        <li th:if="${stats.hasNext()}" class="page-item">
                            <a th:href="@{/admin/stats(page=${stats.number+1})}" class="page-link">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
</body>

</html>