<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.Cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title th:text="#{title.about}">Book info</title>
</head>

<body>
<nav th:insert="navbar :: usernavbar"></nav>

<div th:insert="sidebar :: sidebaruser"></div>
<main class="content">
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div th:text="#{info.heading}" class="card-header">Book info</div>
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td th:text="#{show.book.name}">Book name</td>
                                <td th:text="${book.name}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{add.book.author}">Book author</td>
                                <td th:text="${book.authorName}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{add.book.genre}">Book genres</td>
                                <td>
                                    <th:block th:each="genre, i: ${book.genres}">
                                        <span th:text="#{${'genre.' + genre}} + (${i.size-1 > i.index}? ',':'')"></span>
                                    </th:block>
                                </td>
                            </tr>
                            <tr th:if="${!book.available}">
                                <td th:text="#{show.book.date.user}">Exp Date</td>
                                <td th:text="${book.expDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <div class="button-form">
                            <form th:if="${book.available}" th:action="@{/user/add/{id}(id=${book.id})}" method="get">
                                <button type="submit" class="btn btn-success btn-small" th:value="#{edit.editbook}">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
</body>

</html>