<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title th:text="#{title.about}">Book info</title>
</head>

<body>
<nav th:insert="navbar :: usernavbar"></nav>

<div th:insert="sidebar :: sidebaruser"></div>
<main class="content">
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div th:text="#{info.heading}" class="card-header">Book info</div>
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td th:text="#{show.book.name}">Book name</td>
                                <td th:text="${book.name}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{add.book.author}">Book author</td>
                                <td th:text="${book.authorName}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{add.book.genre}">Book genres</td>
                                <td>
                                    <th:block th:each="genre, i: ${book.genres}">
                                        <span th:text="#{${'genre.' + genre}} + (${i.size-1 > i.index}? ',':'')"></span>
                                    </th:block>
                                </td>
                            </tr>
                            <tr th:if="${!book.available}">
                                <td th:text="#{show.book.date.user}">Exp Date</td>
                                <td th:text="${book.expDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <div class="button-form">
                            <form th:if="${book.available}" th:action="@{/user/add/{id}(id=${book.id})}" method="get">
                                <button type="submit" class="btn btn-success btn-small" th:value="#{edit.editbook}">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>