<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>404</title>
</head>

<body>

<main>
    <br>
    <div style="min-height: 80vh" class="d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">404</span>
                    <div th:text="#{error.notfound}" class="mb-4 lead"></div>
                    <a th:text="#{error.home}" href="/" class="button"></a>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>