<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title th:text="#{home.logo}"></title>
</head>

<body>

<div sec:authorize="isAuthenticated()">
    <nav th:insert="navbar :: usernavbar"></nav>
</div>

<div th:if="!${#request.userPrincipal}">
    <nav th:insert="navbar :: navbar"></nav>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:insert="sidebar :: sidebaradmin"></div>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    <div th:insert="sidebar :: sidebaruser"></div>
</div>


<main>

    <div th:if="!${#request.userPrincipal}" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 th:text="#{welcome.heading}" class="display-4">Welcome</h1>
            <p th:text="#{welcome.text}" class="lead">Please Sign In</p>
            <hr class="my-4">
            <p th:text="#{welcome.register}"></p>
            <a th:text="#{nav.login}" class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
            <a th:text="#{nav.register}" class="btn btn-primary btn-lg" href="/registration" role="button">Register</a>
        </div>
    </div>

    <div class="content" sec:authorize="isAuthenticated()">
        <h1 th:text="#{welcome.heading}" style="margin-top: 100px" class="display-4">Welcome</h1>
    </div>

</main>
<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>